body {
    background-color: plum;
}

.headline {
    color:goldenrod;
    font-size: 80px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
}

.image {
    background-size: cover;
    background-position: center;
    height:100px;
    
}

p {
   font-family:'Dancing Script', cursive;
   font-size: 20px;
}

.jumbotron {
    background-color:rgb(76, 142, 187)
}


