.description{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

#headline{
    color: gray;
    font-size: 60px;
}

.image{
    background-image: url(https://cdn.mos.cms.futurecdn.net/vChK6pTy3vN3KbYZ7UU7k3-1024-80.jpg.webp);
    background-size: cover;
    background-position: center;
    height: 750px;
}

.caption {
    font-size: 20px;
    font-style: italic;
    display: block;
    background-color: white;
    margin-left: 20px;
    position: relative;
    top: 80%;
    width: 15%;
    opacity: 0.65;

}